html {
    width: 100%;
    height: 100%;
}

body {
    margin: 5px;
    user-select: none;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin: 1vh;
}

#canvHolder {
    margin: 0 auto 2vh auto;
}

/* div for button area */
#buttonHolder {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    justify-content: center;
    justify-self: center;
}

/* button groups */
.btn-container {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5px;
    width: auto;
}

.btn-container:not(:last-child) {
    --space: 1vw;
    padding-right: var(--space);
    border-right: 1px solid #808080;
    margin-right: var(--space);
}

button,
input {
    margin: 0 1px;
}

.label {
    align-content: center;
}

#ringInp {
    margin-left: 2px;
}

#moveSpdInp {
    margin-right: 3px
}

#ringInp,
#moveSpdInp {
    border: solid 1px #767676;
    min-width: 1em;
    max-width: 3em;
    width: fit-content;
}

/* Disable inc/dec arrows */
#moveSpdInp::-webkit-outer-spin-button,
#moveSpdInp::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#meTxt {
    color: #cccccccc;
    position: absolute;
    right: 1em;
    top: -0.5em;
}
